.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.game-widget {
  border-radius: 0.25rem;
  padding: 1em;
  &,
  & a {
    color: var(--bs-gray) !important;
  }
  &:hover {
    background: var(--bs-primary);
    color: white !important;
  }
  &__opponent {
    display: flex;
    justify-content: space-between;
  }
}

.game-page {
  display: flex;
  flex-flow: column;
  max-width: 60vh;
  margin: 5vh auto;

  &__player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    padding: 0.5em 0;
    &__user {
      display: flex;
      align-items: center;
      &__title {
        color: var(--board-color);
        margin-right: 1rem;
      }
      &__rating {
        margin-left: 1em;
      }
    }
    &__clock {
      margin-bottom: -0.2em;
      color: var(--bs-gray);
      tenths {
        font-size: 0.7em;
      }
    }
    &.turn &__clock {
      color: var(--board-color);
    }
  }

  &__board {
    flex: 1 1 auto;
  }

  &__state {
    text-align: center;
  }
}
