@import './bootstrap';
@import './chessground.base';
@import './chessground.transp';
@import './chessground.cburnett';
@import './game';
@import './seek';
@import './challenge';
@import './navbar';

body {
  --board-color: '#f0d9b5';
}

.login {
  .about {
    margin: 10vh 10vw;
  }
  .big {
    font-size: 2rem;
  }
  & .btn {
    font-size: 3rem;
  }
}

.about {
  text-align: left;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
