name: Publish the Lichess API Demo app

on:
  - push
  - pull_request

jobs:
  build:
    name: Publish app
    if: ${{ github.event_name == 'push' && github.repository == 'lichess-org/api-demo' && github.ref == 'refs/heads/master' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm run prod
      - uses: actions/configure-pages@v1
      - uses: actions/upload-pages-artifact@v1
        with:
          path: dist
      - uses: actions/deploy-pages@v1
        id: deployment
